body {
   margin-top: 40px;
}

.row {
   margin-bottom: 20px;
}

p {
   margin-bottom: 20px;
   
}

.carousel .carousel-item {
   max-height:400px;
}

.carousel-item img {
   object-fit:cover;
   max-height: 400px;
   
  
}